body{
    margin: 0;
    font-family: 'Poppins', sans-serif
}

@font-face{
font-family: "TitleFont";
src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

header{
    background-image: url("../assets/img/adoptHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.navbar{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 230px;
   padding: 12px 0;
   margin-left: 90px;
   margin-right: 90px;
   background-color: rgba(237, 243, 241, 0.7);
   border-radius: 40px;
}

.mcLogo{
    height: 70px;   
}

.navLinks{
    display: flex;
    gap: 37px;
}

.navLinks a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color:rgb(96, 95, 95);
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 9px;
    padding: 15px 20px;
    width: 300px;
}


.magIcon {
    font-size: 18px; 
    color: rgb(153, 153, 153);
    margin-right: 10px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 450;
    font-family: 'Poppins', sans-serif   
}

.search-bar input::placeholder {
    color: rgb(59, 59, 59);
}

.cart {
    font-size: 24px;
    cursor: pointer;
    color: #444; 
}

.adoptMainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TitleFont", sans-serif;
    font-size: 113px;
    color: #ffffff;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002d68;
    height: 50vh;
}

.introText p,
.introText p{
    margin: 0;
}

.introText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.yellowHead{
    font-size: 45px;
    color: #e9ad1c;
    font-family: 'Metamorphous', sans-serif
}

.introParagraph{
    color: #ffffff;
    font-size: 20px;
}

.yellowbar{
    background-color: #e9ad1c;
    height: 14vh;
}

.whiteBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 110vh;
    gap: 105px;
}

.blueBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002d68;
    height: 110vh;
    gap: 105px;
}

.adoptImg{
    height: 700px;
    width: 540px;
    border-radius: 17px; 
}

.adoptData{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.titleTextBlack{
    font-size: 50px; 
    margin: 0;  
}

.titleTextWhite{
    font-size: 50px; 
    margin: 0;
    color: #ffffff;  
}

.discountPrice{
    font-size: 28px;
    color: grey;
    margin: 0;
}

.discountPriceBlue{
    font-size: 28px;
    color: #15d5f5;
    margin: 0;
}

.regPrice{
    font-size: 28px;
    color: grey;
    text-decoration: line-through;
    margin: 0;
}

.price{
    display: flex;
    gap: 61px;
}

.starsRatingBox{
    display: flex;
    align-items: center;
}

.divider{
    font-size: 38px;
    font-weight: 200;
    color: grey;
    padding-right: 23px;
    margin: 0;
}

.label{
    color: gray;
    font-size: 15px;
    margin: 0;
}

.yellowstar{
    color: #e9ad1c;
    font-size: 30px;
    margin: 0;
    padding-right: 70px; 
}

.paraTextBlack{
    font-size: 19px;
    font-weight: 16pt;
    line-height: 1.8;
    margin: 0;
}

.paraTextWhite{
    font-size: 19px;
    font-weight: 16pt;
    line-height: 1.8;
    margin: 0;
    color: #ffffff;
}

.adoptButtons{
    display: flex;
    gap: 35px;
    padding-top: 13px;
}

.counterButBlue{
    border-radius: 11px;
    border-color: #002d68;
    padding: 23px 51px;
    font-size: 18px;
    color: #ffffff;
    background-color: #002d68;
    font-family: 'Poppins', sans-serif
}

.counterButOrange{
    border-radius: 11px;
    border-color: #e9ad1c;
    padding: 23px 51px;
    font-size: 18px;
    color: #ffffff;
    background-color: #e9ad1c;
    font-family: 'Poppins', sans-serif
}

.atcBut{
    border-radius: 11px;
    border-color: #15d5f5;
    padding: 15px 95px;
    font-size: 18px;
    color: #ffffff;
    background-color: #15d5f5;
    font-family: 'Poppins', sans-serif
}

.info-box{
    width:700px;
    border-top:1px solid rgb(171, 171, 171);
    font-size: 17px;
    color:gray;
    padding-top: 38px;
    margin-top: 45px;
    line-height: 2.3;
}

.row{
    display:flex;
    margin: 0;
}

.item{
    width:105px;
    margin: 0;
}

.colon{
    width:40px;
    text-align:center;
    margin: 0;
}

.description{
    flex:1;
    margin: 0;
}

.bottomAdditional{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 43vh;
    background-color: #ffffff; 
}

.imgBrandlogo{
    height: 61px;
}

.brand_Desc{
    padding-bottom: 40px;
}

.comp{
    line-height: 3;
}

.HAC{
    line-height: 2.6;
}

.smPicsText{
    padding-bottom: 57px;
}

.faceBook,
.tikTok,
.instaGram,
.twitX{
    height: 65px;
    padding-left: 8px;
}

.smlText{
    padding-left: 8px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 40px;
    background-color: #ffffff;
    color: rgb(45, 45, 45);
}

.footerRight{
    display:flex;
    gap: 25px;
    padding-right: 100px;
}

.footerRight a{
    text-decoration: none;
    color: rgb(45, 45, 45);
}

.footerLeft{
    margin-left: 100px;
}


