body{
    margin: 0;
    font-family: 'Poppins', sans-serif
}

@font-face{
font-family: "TitleFont";
src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

header{
    background-image: url("../assets/img/contactHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.navbar{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 230px;
   padding: 12px 0;
   margin-left: 90px;
   margin-right: 90px;
   background-color: rgba(237, 243, 241, 0.7);
   border-radius: 40px;
}

.mcLogo{
    height: 70px;   
}

.navLinks{
    display: flex;
    gap: 37px;
}

.navLinks a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color:rgb(96, 95, 95);
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 9px;
    padding: 15px 20px;
    width: 300px;
}

.magIcon {
    font-size: 18px; 
    color: rgb(153, 153, 153);
    margin-right: 10px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 450;
    font-family: 'Poppins', sans-serif   
}

.search-bar input::placeholder {
    color: rgb(59, 59, 59);
}

.cart {
    font-size: 24px;
    cursor: pointer;
    color: #444; 
}

.contactMainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TitleFont", sans-serif;
    font-size: 113px;
    color: #ffffff;
}

.dragonAndText{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
}

.aboutSite{
    display: flex;
    align-items: center;
    height: 110vh;
    background-color: #ffffff; 
}

.aboutText{
  padding-right: 100px;
  padding-left: 70px;
  padding-bottom: 60px;
  
}

.contactImg{
    width: 725px;
    height: 680px;
    border-radius: 23px; 
}

.aboutText p,
.aboutText p,
.aboutText p{
    margin: 0;
}

.aboutTitle{
    padding-bottom: 10px;
    color: #15d5f5;
    font-size: 16pt;
    font-weight: 500;
}

.aboutSubTitle{
    line-height: 1.3;
    color: #002d68;
    font-size: 35pt;
    word-spacing: 2px;
    padding-bottom: 24px;
    font-weight: 700;
}

.aboutPargraph{
    color: rgb(86, 86, 86);
    font-size: 16pt;
    line-height: 1.5;  
}

.mapForm{
    height: 150vh;
    background-color: rgb(142, 142, 142);
}

.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.contactInfo, .contactForm{
    width: 44%;
    padding: 37px;
}

.whole{
    display: flex;
    flex-direction: column;
    gap: 47px; 
}

.contactForm form{
    background-image: url("../assets/img/formBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.formElement{
   padding-left: 67px; 
}

.send{
    padding-left: 67px;
    font-size: 47px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}


.formElement label{
    color: white;
    font-size: 23px;
    font-weight: 500;
}

.contactForm input,
.contactForm textarea{
    padding-right: 345px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 35px;
    border: none;
    border-radius: 14px;
    font-family: 'Poppins';
    font-size: 19px;
    margin-top: 20px;
    resize: vertical;
    color: #ccc;
}

.contactForm button{
    width: auto;
    align-self: flex-start;
    padding: 24px 85px;
    margin-left: 67px;
    margin-bottom: 78px;
    border-radius: 15px;
    border: none;
    background-color: #15d5f5;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.contactForm button:hover{
    background-color: #002d68;
}

.bottomAdditional{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 43vh;
    background-color: #ffffff; 
}

.imgBrandlogo{
    height: 61px;
}

.brand_Desc{
    padding-bottom: 40px;
}

.comp{
    line-height: 3;
}

.HAC{
    line-height: 2.6;
}

.smPicsText{
    padding-bottom: 57px;
}

.faceBook,
.tikTok,
.instaGram,
.twitX{
    height: 65px;
    padding-left: 8px;
}

.smlText{
    padding-left: 8px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 40px;
    background-color: #ffffff;
    color: rgb(45, 45, 45);
}

.footerRight{
    display:flex;
    gap: 25px;
    padding-right: 100px;
}

.footerRight a{
    text-decoration: none;
    color: rgb(45, 45, 45);
}

.footerLeft{
    margin-left: 100px;
}




