body{
    margin: 0;
    font-family: 'Poppins', sans-serif
}

@font-face{
font-family: "TitleFont";
src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

header{
    background-image: url("../assets/img/homeHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.navbar{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 230px;
   padding: 12px 0;
   margin-left: 90px;
   margin-right: 90px;
   background-color: rgba(237, 243, 241, 0.7);
   border-radius: 40px;
}

.mcLogo{
    height: 70px;
}

.navLinks{
    display: flex;
    gap: 37px;
}

.navLinks a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color:rgb(96, 95, 95);
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 9px;
    padding: 15px 20px;
    width: 300px;
}

.magIcon {
    font-size: 18px; 
    color: rgb(153, 153, 153);
    margin-right: 10px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 450;
    font-family: 'Poppins', sans-serif  
}

.search-bar input::placeholder {
    color: rgb(59, 59, 59);
}

.cart {
    font-size: 24px;
    cursor: pointer;
    color: #444;  
}

.MainTitle{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    font-family: "TitleFont", sans-serif;
    font-size: 110px;
    color: #e9ad1c;
    padding-top: 290px;
}

.container{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

.secondSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #002d68; 
}

.para{
    border: 2px solid red;
    width: 620px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.sliderimgone{
    width: 690px;
    height: 700px;
    display: block;
}

.para h3,
.para h3,
.para p{
    margin: 0;
}


.byj{
    padding-top: 110px;
    color: #e9ad1c;
    font-size: 18pt;
}

.tlgh{
    
    line-height: 1.3;
    color: white;
    font-size: 40pt;
    padding-bottom: 24px;
}

.pGraph{
    
    color: #ffffff;
    font-size: 16pt;
    
}

.birdAndText{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
}

.sanctuary{
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: #ffffff; 
}

.sanctuaryText{
  padding-right: 36px;
  padding-left: 180px;
}

.sanctuaryImg{
    width: 740px;
    height: 550px;
    border-radius: 27px; 
}

.sanctuaryText p,
.sanctuaryText p,
.sanctuaryText p{
    margin: 0;
}

.sancTitle{
    padding-bottom: 10px;
    color: #15d5f5;
    font-size: 16pt;
    font-weight: 500;
}

.sancSubTitle{
    line-height: 1.3;
    color: #002d68;
    font-size: 35pt;
    word-spacing: 2px;
    padding-bottom: 24px;
    font-weight: 700;
}

.sancPargraph{
    color: rgb(86, 86, 86);
    font-size: 16pt;  
}

.testimony{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 115vh;
    background-color: #002d68;   
}

.testTitle{
    text-align: center;
    color: #e9ad1c;
    font-size: 21px;
    font-weight: 600;
    line-height: 2.2;
    margin: 0;
}

.testSubtitle{
    text-align: center;
    color: #ffffff;
    font-size: 47px;
    font-weight: 650;
    line-height: 1.3;
    margin: 0;
}

.fourPets{
    display: flex;
    gap: 40px;
    height: 320px;
}

.iPercy,
.iRipple,
.iAtlas,
.iSkye{
    border-radius: 15px;
    height: 325px;
    width: 325px;
}

.testHead p,
.testHead p,
.imgPercy img,
.imgPercy h3,
.imgPercy p,
.imgRipple img,
.imgRipple h3,
.imgRipple p,
.imgAtlas img,
.imgAtlas h3,
.imgAtlas p,
.imgSkye img,
.imgSkye h3,
.imgSkye p{
    margin: 0;
}

.imgPercy,
.imgRipple,
.imgAtlas,
.imgSkye{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.percyTitle,
.rippleTitle,
.atlasTitle,
.skyeTitle{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.percyDesc,
.rippleDesc,
.atlasDesc,
.skyeDesc{
    color: #ffffff;
    text-align: center;
    line-height: 1.8;
}

.CALbutton button{
    border-radius: 16px;
    padding: 20px 25px;
    font-size: 25px;
    color: #ffffff;
    background-color: #15d5f5;
    font-family: 'Poppins', sans-serif
}

.bottomAdditional{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 43vh;
    background-color: #ffffff;  
}

.imgBrandlogo{
    height: 61px;
}

.brand_Desc{
    padding-bottom: 40px;
    
}

.comp{
    line-height: 3;
}

.HAC{
    line-height: 2.6;
}

.smPicsText{
    padding-bottom: 57px;
}

.faceBook,
.tikTok,
.instaGram,
.twitX{
    
    height: 65px;
    padding-left: 8px;
}

.smlText{
    padding-left: 8px;
    
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    text-align: center;
    
    padding: 25px 40px;
    background-color: #ffffff;
    color: rgb(45, 45, 45);

}

.footerRight{
    display:flex;
    gap: 25px;
    padding-right: 100px;
}

.footerRight a{
    text-decoration: none;
    color: rgb(45, 45, 45);

}

.footerLeft{
    margin-left: 100px;
}






