body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}






@font-face{
font-family: "TitleFont";
src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}


.logoimg{
    width: 100px;
    display: block;
    margin: 0 auto 15px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 11px 75px;
    background-color: rgb(237, 243, 241);
    opacity: 0.7;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 12px;

}

header{
    background-image: url("../assets/img/homeHeader.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 920px;
    padding-top: 29px;
    display: flex;
    flex-direction: column;
}

.navLinks{
    display: flex;
    
    

    gap: 30px;
    
    font-size: 17.5px;

}

.navLinks a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.608);
    
}

.pageTitle{
    font-family: "TitleFont", sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    margin-left: 104px;
    color: rgb(255, 153, 0);
    
    
}

.midCard{
    font-family: "TitleFont", sans-serif;
    margin-left: 926px;
    font-size: 50px;
    margin-top: 360px;
    letter-spacing: 3px;
    color: #e9ad1c;
}

.container{
    display: flex;
    
    justify-content: space-around;
    gap: 30px;
    
}

.para{
    border: 2px solid red;
    width: 620px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.secondSection{
    display: flex;
    justify-content: space-evenly;
    
   
    align-items: center;
    
   
    height: 822px;
    background-color: #002d68; 
}

.sliderimgone{
    width: 650px;
    height: 700px;
    display: block;
   

}


