body{
    margin: 0;
    font-family: 'Poppins', sans-serif
}

@font-face{
font-family: "TitleFont";
src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

.navbar{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 230px;
   padding: 12px 0;
   margin-left: 90px;
   margin-right: 90px;
   background-color: rgba(237, 243, 241, 0.7);
   border-radius: 40px;
}

.mcLogo{
    height: 70px;
}

.navLinks{
    display: flex;
    gap: 37px;
}

.navLinks :hover,
.HAC :hover{
    color: #15d5f5;
}

.navLinks a.active,
.HAC a.active{
    color: #15d5f5;
}

.navLinks a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 600;
    color:rgb(96, 95, 95);
}

.search-bar {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 9px;
    padding: 15px 20px;
    width: 300px;
}

.magIcon {
    font-size: 18px; 
    color: rgb(153, 153, 153);
    margin-right: 10px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 450;
    font-family: 'Poppins', sans-serif  
}

.search-bar input::placeholder {
    color: rgb(59, 59, 59);
}

.cart {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    color: #444;  
}

.tooltip {
    position: absolute;
    bottom: -35px; 
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    padding: 6px 10px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
}

.cart:hover .tooltip{
    opacity: 1;
    transition-delay: 1s;
}
.navbar,
.adoptContactTitle {
    position: relative;
    z-index: 1;
}





header{
    background-image: url("../assets/img/homeHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.MainTitle{
    display: flex;
    justify-content: flex-end;
    padding-right: 120px;
    padding-top: 290px;
    font-family: "TitleFont", sans-serif;
    font-size: 110px;
    color: #e9ad1c;
    margin-top: 0px;
}

.MainTitle p{
    margin-bottom: 0;
}

.slogan{
    display: flex;
    justify-content: flex-end;
    margin-right: 180px;
    font-size: 25px;
    margin-top: 0;
    color: #ffffff;
    font-family: 'Metamorphous', sans-serif
}

.unicorn{
    display: flex;
    align-items: center;
    height: 115vh;
    background-color: #002d68; 
}

.uniAndText{
    display: flex;
    align-items: center;
}

#sliderimgone{
    padding-right: 95px;
    padding-left: 138px;
    width: 714px;
    height: auto;
}

.uniText p,
.uniText p,
.uniText p{
    margin: 0;
}

.uniTitle{
    padding-bottom: 11px;
    color: #e9ad1c;
    font-size: 16pt;
    font-weight: 600;
}

.uniSubTitle{
    line-height: 1.3;
    color: #ffffff;
    font-size: 35pt;
    word-spacing: 2px;
    padding-bottom: 26px;
    font-weight: 700;
}

.uniPara{
    color: #ffffff;
    font-size: 16pt;
    line-height: 1.6;
    padding-bottom: 40px;
}

.sanctuary{
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: #ffffff; 
}

.birdAndText{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
}

.sanctuaryText{
  padding-right: 36px;
  padding-left: 180px;
}

.sanctuaryImg{
    width: 740px;
    height: 550px;
    border-radius: 27px; 
}

.sanctuaryText p,
.sanctuaryText p,
.sanctuaryText p{
    margin: 0;
}

.sancTitle{
    padding-bottom: 10px;
    color: #15d5f5;
    font-size: 16pt;
    font-weight: 500;
}

.sancSubTitle{
    line-height: 1.3;
    color: #20163c;
    font-size: 35pt;
    word-spacing: 2px;
    padding-bottom: 24px;
    font-weight: 700;
}

.sancPargraph{
    color: rgb(86, 86, 86);
    font-size: 16pt;  
}

.testimony{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 125vh;
    background-color: #002d68;   
}

.testTitle{
    text-align: center;
    color: #e9ad1c;
    font-size: 21px;
    font-weight: 600;
    line-height: 2.2;
    margin: 0;
}

.testSubtitle{
    text-align: center;
    color: #ffffff;
    font-size: 47px;
    font-weight: 650;
    line-height: 1.3;
    margin: 0;
}

.fourPets{
    display: flex;
    gap: 40px;
    height: 320px;
}

.iPercy,
.iRipple,
.iAtlas,
.iSkye{
    border-radius: 15px;
    height: 325px;
    width: 325px;
}

.testHead p,
.testHead p,
.imgPercy img,
.imgPercy h3,
.imgPercy p,
.imgRipple img,
.imgRipple h3,
.imgRipple p,
.imgAtlas img,
.imgAtlas h3,
.imgAtlas p,
.imgSkye img,
.imgSkye h3,
.imgSkye p{
    margin: 0;
}

.imgPercy,
.imgRipple,
.imgAtlas,
.imgSkye{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.percyTitle,
.rippleTitle,
.atlasTitle,
.skyeTitle{
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.percyDesc,
.rippleDesc,
.atlasDesc,
.skyeDesc{
    color: #ffffff;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 50px;
}

.CALbutton button{
    border-radius: 16px;
    margin-top: 40px;
    padding: 20px 25px;
    font-size: 25px;
    color: #ffffff;
    border: none;
    background-color: #15d5f5;
    font-family: 'Poppins', sans-serif
}






.headerAdopt{
    position: relative;
    height: 50vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.headerAdopt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/adoptHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter:blur(6px);
    z-index: 0;
}

.adoptContactTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "TitleFont", sans-serif;
    font-size: 113px;
    color: #ffffff;
}

.adoptContactTitle p{
    margin-top: 90px;
    margin-bottom: 10px;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002d68;
    height: 50vh;
}

.introText p,
.introText p{
    margin: 0;
}

.introText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.yellowHead{
    font-size: 45px;
    color: #e9ad1c;
    font-family: 'Metamorphous', sans-serif
}

.introParagraph{
    color: #ffffff;
    font-size: 20px;
}

.yellowbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ad1c;
    height: 14vh;
}

.yellowCont{
    display: flex;
    gap: 395px;
}

.yellowLeft,
.yellowRight{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filt,
.fourcircles {
    height: 21px;
}

.filtWord{
    font-size: 23px;
    color: #ffffff;
    padding-right: 33px;
    padding-left: 18px;
}

.divVert{
    font-size: 48px;
    font-weight: 200;
    color: #7c9397;
    padding-right: 35px;
    padding-left: 93px;
}

.pageRes{
    font-size: 19px;
    font-weight: 500;
    color: white;
}

.ssb{
    font-size: 23px;
    color: #ffffff;
    font-weight: 500;
    padding-right: 22px;
}

input#num{
    height: 60px;
    width: 36px;
    padding-left: 24px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 15px;
    background-color: #fae4ae;
    border: none;
    color: #3a2b64;
    margin-right: 36px;
}

select#topic{
    height: 60px;
    width: 220px;
    padding-left: 24px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 15px;
    background-color: #fae4ae;
    border: none;
    color: #3a2b64;
}

.whiteBackground,
.blueBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    gap: 105px;
    background-color: #ffffff;
}
.blueBackground{
    background-color: #002d68;  
}

.adoptImg{
    height: 700px;
    width: 540px;
    border-radius: 17px; 
}

.adoptData{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.titleTextBlack,
.titleTextWhite{
    font-size: 50px; 
    margin: 0;  
}
.titleTextWhite{
    color: #ffffff;  
}

.price{
    display: flex;
    gap: 61px;
}

.discountPrice,
.discountPriceBlue,
.regPrice{
    font-size: 28px;
    color: grey;
    margin: 0;
}
.discountPriceBlue{
    color: #15d5f5;
}
.regPrice{
    text-decoration: line-through;
}

.starsRatingBox{
    display: flex;
    align-items: center;
}

.yellowstar{
    color: #e9ad1c;
    font-size: 30px;
    margin: 0;
    padding-right: 70px; 
}

.divider{
    font-size: 38px;
    font-weight: 200;
    color: grey;
    padding-right: 23px;
    margin: 0;
}

.label{
    color: gray;
    font-size: 15px;
    margin: 0;
}

.paraTextBlack,
.paraTextWhite{
    font-size: 19px;
    font-weight: 16pt;
    line-height: 1.8;
    margin: 0;
}
.paraTextWhite{
    color: #ffffff;
}

.adoptButtons{
    display: flex;
    gap: 35px;
    padding-top: 13px;
}

.counterButBlue,
.counterButOrange{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 11px;
    border: none;
    padding: 5px 16px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #002d68;
    font-family: 'Poppins', sans-serif
}
.counterButOrange{
    background-color: #e9ad1c;
}
.min:active,
.plus:active{
    color: #15d5f5;
}

.atcBut{
    border-radius: 14px;
    border: none;
    padding: 22px 60px;
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    background-color: #15d5f5;
    font-family: 'Poppins', sans-serif
}
.atcBut:hover,
.CALbutton button:hover{
    background-color: #109ab3;
}
.atcBut:active,
.CALbutton button:active{
    background-color: #65bccc;
}

.info-box{
    width:700px;
    border-top:1px solid rgb(171, 171, 171);
    font-size: 17px;
    color:gray;
    padding-top: 38px;
    margin-top: 45px;
    line-height: 2.3;
}

.row{
    display:flex;
    margin: 0;
}

.item{
    width:105px;
    margin: 0;
}

.colon{
    width:40px;
    text-align:center;
    margin: 0;
}

.description{
    flex:1;
    margin: 0;
}







.headerContact{
    background-image: url("../assets/img/contactHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.aboutSite{
    display: flex;
    align-items: center;
    height: 110vh;
    background-color: #ffffff; 
}

.dragonAndText{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;   
}

.aboutText{
  padding-right: 100px;
  padding-left: 70px;
  padding-bottom: 60px;
}

.contactImg{
    width: 725px;
    height: 680px;
    border-radius: 23px; 
}

.aboutText p,
.aboutText p,
.aboutText p{
    margin: 0;
}

.aboutTitle{
    padding-bottom: 10px;
    color: #15d5f5;
    font-size: 16pt;
    font-weight: 500;
}

.aboutSubTitle{
    line-height: 1.3;
    color: #002d68;
    font-size: 35pt;
    word-spacing: 2px;
    padding-bottom: 24px;
    font-weight: 700;
}

.aboutPargraph{
    color: rgb(86, 86, 86);
    font-size: 16pt;
    line-height: 1.5;  
}

.mapForm{
    height: 150vh;
    background-color: #ffffff;
}

.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.contactInfo p,
.contactInfo p,
.contactInfo p,
.contactInfo{
    margin: 0;
}

.contactInfo, .contactForm{
    width: 44%;
    padding: 37px;
}

.faceBook1,
.tikTok2,
.instaGram3,
.twitX4{
    height: 110px;
    padding-right: 13px;
    padding-bottom: 111px;  
}
.faceBook1:hover,
.tikTok2:hover,
.instaGram3:hover,
.twitX4:hover{
    transform: scale(1.1);
}

.mapSquare{
    width: 695px;
    height: 617px;
    border-radius: 30px;
}

.whole{
    display: flex;
    flex-direction: column;
    gap: 47px; 
}

.contactForm form{
    background-image: url("../assets/img/formBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.formElement{
   padding-left: 67px; 
}

.send{
    padding-left: 67px;
    font-size: 47px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
}

.formElement label{
    color: white;
    font-size: 23px;
    font-weight: 500;
}

.contactForm input,
.contactForm textarea{
    padding-right: 345px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 35px;
    border: none;
    border-radius: 14px;
    font-family: 'Poppins';
    font-size: 19px;
    margin-top: 20px;
    resize:none;
    color: #757575;
}
.contactForm textarea{
    padding-right: 360px; 
}
.contactForm input::placeholder,
.contactForm textarea::placeholder {
    color: #959494; 
}

.contactForm button{
    width: auto;
    align-self: flex-start;
    padding: 24px 85px;
    margin-left: 67px;
    margin-bottom: 78px;
    border-radius: 15px;
    border: none;
    background-color: #15d5f5;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.contactForm button:hover{
    background-color: #002d68;
}
.contactForm button:active{
    background-color: #1f4d89;
}







.bottomAdditional{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 43vh;
    background-color: #ffffff;  
}

.imgBrandlogo{
    height: 75px;
    padding-bottom: 7px;
}

.brandDesc{
    font-size: 19px;
    padding-left: 7px;
    color: #626262;
    line-height: 1.6;
    padding-bottom:20px ;
    margin: 0;
}

.brand_Desc{
    padding-bottom: 40px;   
}

.comp{
    font-size: 20px;
    font-weight: 600;
    line-height: 3;
}

.HAC a{
    line-height: 2.4;
    font-size: 19px;
    color: #767474;
    text-decoration: none;
    font-weight: 500;
}

.smPicsText{
    padding-bottom: 57px;
}

.faceBook,
.tikTok,
.instaGram,
.twitX{
    height: 88px;
    padding-left: 8px;
}
.faceBook:hover,
.tikTok:hover,
.instaGram:hover,
.twitX:hover{
    transform: scale(1.1);
}

.smlText{
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;  
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 25px 40px;
    background-color: #ffffff;
    color: rgb(45, 45, 45);
}

.footerRight{
    display:flex;
    gap: 29px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: 500;
}

.footerRight a{
    text-decoration: none;
    color: #696868;
}

.footerLeft{
    margin-left: 100px;
    color: #8f8e8e;
    font-weight: 500;
}


.fixed-btn {
    position: fixed;
    bottom: 80px;  
    right: 45px;  
    border-radius: 14px;
    border: none;
    padding: 22px 90px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    background-color: #907b1e;
    font-family: 'Poppins', sans-serif
    
}
.fixed-btn:hover{
    background-color: #e9ad1c;
}
.fixed-btn:active{
    background-color: #eace8c;
}


.thin{
    height: 1.5px;
    margin-left: 152px;
    margin-right: 190px;
    background-color: #e1e1e1;
}


